:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  padding: 0;
}

nz-header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 64px;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
}

.logo {
  margin: 0 24px 4px 24px;
  padding: 0;
  height: 100%;
  float: left;
}

img {
  margin: 0;
  height: 100%;
}

nz-content {
  padding: 0 50px;
  margin: 24px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  height: 100%;
}
