:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e9f5;
}

.app-layout {
  padding: 0;
  margin-bottom: 0px;
}

nz-header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 102px;
  background-color: #fff;
}

.app-header {
  position: relative;
  padding: 0;
  font-size: 55px;
}

.logo {
  padding: 0;
  height: 100px;
}

nz-content {
  height: 100%;
  margin: 20px;
}

nz-footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.inner-content {
  background: #fff;
  min-height: 90%;
  padding: 10px;
}
