<nz-layout class="app-layout">
  <nz-header>
    <div nz-row style="flex-flow: nowrap; width: 100%; height: 102px;">
      <div nz-col style="float: left;">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item>
            <a href="#">Головна</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/vacancy"> Вакансії </a>
          </li>
<!--          <li nz-menu-item>Companies</li>-->
        </ul>
      </div>
      <div nz-col style="margin-right: auto; margin-left: auto;"><img src="../assets/short-logo.png" class="logo"></div>
      <div nz-col style="float: right;">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item *ngIf="isLogged" [ngSwitch]="this.authorizationService?.currentUser?.role">
            <ng-template ngSwitchCase="admin">
              <a routerLink="/admin/profile">Профіль</a>
            </ng-template>
            <ng-template ngSwitchCase="employer">
              <a routerLink="/employer/profile">Профіль</a>
            </ng-template>
            <ng-template ngSwitchCase="student">
              <a routerLink="/student/profile">Профіль</a>
            </ng-template>
          </li>

          <li nz-menu-item *ngIf="isLogged;else login">
            <button nz-button [nzType]="'primary'" (click)="logOut()">Вийти</button>
          </li>
          <ng-template #login>
            <li nz-menu-item>
              <button nz-button [nzType]="'primary'" (click)="showLoginForm()">Увійти</button>
            </li>
            <li nz-menu-item>
              <button nz-button [nzType]="'primary'" (click)="showRegisterForm()">Зареєструватися</button>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
<nz-modal [(nzVisible)]="isLoginFormVisible" nzTitle="Вхід" nzFooter=null (nzOnCancel)="handleCancel('login')">
  <app-login (logEvent)="hideLoginForm()"></app-login>
</nz-modal>
<nz-modal [(nzVisible)]="isRegisterFormVisible" nzTitle="Реєстрація" nzFooter=null (nzOnCancel)="handleCancel('register')">
  <app-registration (registerEvent)="hideRegistrationForm()"></app-registration>
</nz-modal>
