<nz-carousel nzAutoPlay style="width: 700px; margin-right: auto; margin-left: auto; height: 500px;" >
  <div nz-carousel-content>
    <img src="../../../assets/carusel/1.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/2.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/3.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/4.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/5.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/6.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/7.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/8.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/9.png" style="height: 500px;">
  </div>
  <div nz-carousel-content>
    <img src="../../../assets/carusel/10.png" style="height: 500px;">
  </div>
</nz-carousel>
